@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  justify-content: center;
  font-family: avenir book,sans-serif;
  font-size: 1em;
  background-image:url('img/background.gif'); 
  background-repeat:repeat;
}

#description {
  width: 31.25em;
  height: 10em;
  padding: 2.25%;
  position: absolute;
  top: 64vh;
  left: 37vw;
  border: 0.25em solid; 
  color: black;
  background:radial-gradient(lightgreen, darkgreen) border-box;
  z-index: 4;
  text-align: center;
}

#before_hack img {
  width: 62.5em;
  height: 31.25em;
  padding: 2.8125em;
  position: absolute;
  top: 5vh;
  left: 24vw;
  border: 0.25em solid; 
  color: black;
  background:linear-gradient(to bottom, darkgreen, lightgreen) border-box;
  z-index: 3;
}

#after_hack img {
  width: 62.5em;
  height: 31.25em;
  padding: 2.8125em;
  position: absolute;
  top: 51.25em;
  left: 24vw;
  border: 0.25em solid; 
  color: black;
  background:linear-gradient(to top, darkgreen, lightgreen) border-box;
  z-index: 4;
}

#weblink {
  width: 16em;
  height: 6.5em;
  padding: 2.25%;
  position: absolute;
  top: 86em;
  left: 43.5vw;
  border: 0.25em solid; 
  color: black;
  background:radial-gradient(lightgreen, darkgreen) border-box;
  z-index: 4;
}

#mid_section{
  z-index: 1;
  width: 62.5em;
  height: 62.5em;
  padding: 2.1875em;
  position: absolute;
  top: 5vh;
  left: 24vw;
  border: 0.25em solid; 
  color: black;
  background: darkgreen;

}

