body {
  background: #070336;
  color:#2243e7;
  font-family: 'Pathway Extreme', sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#paintings {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 3% 0%;
  width: 100%;
}

#paintings img{
  border: 1.25em ridge goldenrod;
}

.visual {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#left_sparkles {
  margin-right: 50%;
  margin-bottom: -30%;

}

#right_sparkles {
  margin-left: 50%;
  margin-top: -30%;

}

/* Media query for mobile devices
@media (max-width: 767px) {
  .visual {
    flex-direction: column;
    align-items: center;
  }

  #left_sparkles,
  #right_sparkles {
    position: static;
    margin-top: 20px; /* Adjust the margin as needed 
  }
} */


h2,h4{
  font-family: 'Taviraj', serif;
}
.content {
  position: relative;
  background: radial-gradient( rgb(243, 203, 253),rgb(207, 170, 255),  rgba(150, 89, 247));
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  width: 50vw;
  border-radius: 10%;
  display: flex; /* Add flex display to arrange items horizontally */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center;
  align-items: center;
}
.content img {
  max-width: 100%; /* Make the image scale with the container */
}

#control{
  position:relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}